body {
  background-color: #1ac5ff;
  color: white;
  font-family: 'Oxygen', sans-serif;
}

label {
  font-size: 1.3em;
  text-shadow: 1px 1px 1px navy;
}

/* HEADER */

#header {
  background-color: #00abe6;
  color: white;
  border-bottom: 1px solid #006599;
  box-shadow: 1px 1px 5px #006599;
}

#header-links {
  margin-top: 30px;
  text-align: center;
}

#header-links>a {
  color: white;
  margin-right: 60px;
  text-shadow: 2px 2px 2px navy;
}

/* HOMEPAGE */

#homepage-title {
  margin: 40px 45px 35px 0px;
  text-align: center;
  text-shadow: 1px 2px 2px navy;
  padding: 5px;
}

#signup-link {
  color: navy;
}

#login-button>button {
  margin-left: 45px;
}

#signup-link-pos {
  margin-top: 30px;
  margin-right: 55px;
}

#signup-title {
  margin-left: 110px;
  text-shadow: 1px 2px 1px navy;
}

.invalid {
  color: red;
  font-size: 1.2em;
}

/* NEW GOAL */

#goals-index-title {
  margin-top: 35px;
  margin-left: 370px;
  text-shadow: 1px 1px 1px navy;
}

#instructions {
  text-align:center;
  text-shadow: 1px 1px 1px navy;
}

#new-fitness-goal-table{
  margin-left: 63px;
}

#goal-button {
  margin-left: 90px;
}

/* GOALS TABLE */

#goals-header {
  margin-top: 45px;
  margin-left: 490px;
  text-shadow: 1px 1px 1px navy;
}

th, td {
  text-align: center;
  text-shadow: 1px 1px 1px navy;
}

.table a {
  color: white;
}

.table-header {
  font-size: 1.6em;
}

.table-data {
  font-size: 1.4em;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #006599;
}

/* WEEKLY GOAL */

#weekly-goal-header {
  margin-top: 35px;
  margin-left: 350px;
  text-shadow: 1px 1px 1px navy;
}

#goal-table {
  margin-right: 300px;
  font-size: 1.6em;
}

#table-header {
  padding-right: 30px;
  border-right: 1px solid white;
}

#weekly-buttons-pos {
  padding: 10px;
  margin-left: 50px;
}

.weekly-button {
  width: 150px;
}

#days-left-message {
  margin-left: 310px;
}

/* SHOW ENTRY */

#goal-header {
  margin-top: 45px;
  margin-left: 460px;
  text-shadow: 1px 1px 1px navy;
}

.goal-button {
  width: 150px;
}

#goal-buttons-pos {
  margin-left: 340px;
}

#goal-title>a {
  color: white;
}

a:hover {
  color: white;
}

/* EDIT ENTRY */
#edit-entry-header{
  margin-top: 45px;
  margin-left: 400px;
  text-shadow: 1px 1px 1px navy;
}

#edit-button {
  margin-left: 110px;
}

/* UPDATE ENTRY */

#update-goal-header {
  margin-top: 45px;
  margin-left: 310px;
  text-shadow: 1px 1px 1px navy;
}

#align-exercise-table {
  margin-left: 65px;
}

#update-button {
  margin-left: 90px;
}
