body {
  background-color: #1ac5ff;
  color: white;
  font-family: 'Oxygen', sans-serif;
}

label {
  font-size: 1.3em;
}

/* HEADER */

#header {
  background-color: #00abe6;
  color: white;
  border-bottom: 1px #0099cc solid;
}

#homepage {
  margin-top: 30px;
  text-align: center;
}

#homepage>a {
  color: white;
  margin-right: 60px;
  text-shadow: 2px 2px 2px navy;
}

/* HOMEPAGE */

#homepage_title {
  padding: 80px;
  text-align: center;
  text-shadow: 1px 2px 2px navy;
}

.login_link {
  color: white;
  padding: 50px;
  text-shadow: 1px 2px 2px navy;
}

.invalid {
  color: red;
  font-size: 1.2em;
}

/* SIGNUP - LOGIN */

.signup_title {
  margin-left: 110px;
}

/* NEW GOAL */

#goals_index_title {
  text-align: center;
  margin-top: 35px;
}

#instructions {
  text-align:center;
}

#align_exercise_table {
  margin-left: 54px;
}

#goal-button {
  margin-left: 95px;
}

/* DISPALY GOALS */

#goal_title {
  text-align: center;
}

#goal_title>a {
  color: white;
}

a:hover {
  color: white;
}
