<h2 id="homepage_title">Welcome to Fitness Tracker!</h2>

<div class="row">
  <p class="lead text-center"><a href="/signup" class="login_link">Signup</a><a href="/login" class="login_link">Login</a></p>
</div>
